<html>
  <head>
    <title>Color Picker</title>
  </head>
  <body style="background-color: rgb({{ red }}, {{ green }}, {{ blue }});">
    <div>
      <h2>Enter a number between 0 and 255 for each color below</h2>
      <form method="POST" action="{% url 'paint' %}">
        {% csrf_token %}
        <div>
          {{ form.red_amount.label_tag }} {{ form.red_amount }}
          {{ form.green_amount.label_tag }} {{ form.green_amount }}
          {{ form.blue_amount.label_tag }} {{ form.blue_amount }}
        </div>
        <div>
          <button type="submit">Paint</button>
        </div>
      </form>
    </div>
  </body>
</html>
